
.drinkBtn {
    position: absolute;
    right: 100px;
    top: 200px;
    cursor: pointer;
    background: url('/src/images/drink.png');
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;
    border: none;
  }

  .drinkBtn:hover {
    opacity: 0.8;
  }
  

