
.petBtn {
    position: absolute;
    right: 200px;
    top: 350px;
    cursor: pointer;
    background: url('/src/images/pet.png');
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;
    border: none;
  }
  
  .petBtn:hover {
    opacity: 0.8;
  }