.App {
  text-align: center;
  background: url('./images/background.png');
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

/*.background-image {
  background: url('./images/background.png');
  height: 100vh;
  margin-top: -100px;
  background-attachment: fixed;
  background-size: cover;
}

.bars {
  margin-top: 100px;
  margin-left: 100px;
}*/
