.App {
  text-align: center;
  background: url('./images/background.png');
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.comment {
  opacity: 0.7;
}